.documents-position {
  display: none;

  &--display {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-left: 500px;
  }
}

.documents-container {
  position: absolute;
  border: 2px solid grey;

  // display: none;
}

.documents-header {
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 138),
    blue,
    rgb(56, 56, 250),
    rgb(78, 78, 222),
    rgb(97, 97, 150)
  );

  width: 550px;
  height: 25px;
  display: flex;

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100px;
  }

  &__img {
    width: 25px;
    height: 25px;
  }

  &__text {
    color: white;
    width: 450px;
    margin-left: 10px;
  }
}

.documents-nav {
  background-color: rgb(185, 185, 185);
  display: flex;
  flex-direction: row;
  width: 550px;
  align-items: center;

  &__text {
    margin-left: 5px;
    margin-right: 10px;
    color: rgb(93, 93, 93);
  }
}

.documentsTwo-nav {
  background-color: rgb(185, 185, 185);
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 60px;
  justify-content: flex-start;
  align-items: center;

  &__items {
    margin-left: 5px;
    margin-top: -10px;
  }
  &__img {
    width: 50px;
    height: 50px;
  }

  &__text {
    margin-top: -15px;
    color: rgb(93, 93, 93);
    text-align: center;
    font-size: 10px;
  }
}

.documents-address {
  background-color: rgb(185, 185, 185);
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 25px;
  align-items: center;

  &__bar {
    width: 400px;
  }

  &__text {
    margin-left: 5px;
    margin-right: 10px;
    color: rgb(93, 93, 93);
  }
}

.documents-files {
  position: absolute;
  background-color: white;
  width: 548px;
  height: 400px;

  border: 2px solid grey;

  display: flex;
  flex-wrap: wrap;

  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &--text {
      font-size: 12px;
      font-weight: 100;
      transform: scale(0.75, 1.5);

      &--onclick {
        background-color: blue;
        color: white;
      }
    }

    &--img {
      width: 125px;
      height: 125px;
    }
  }
}
